In [1]:
from pathlib import Path

In [2]:
repo_dir = Path.cwd().parents[0]
repo_dir

PosixPath('/workspaces/heart-disease')

In [8]:
import sys

sys.path.insert(0, f"{repo_dir}")

import pandas as pd

import heart_disease.constants as hdc
import heart_disease.data.get_dataset as hddgd  # FIXME: Add get_dataset to heart_disease?

In [9]:
%matplotlib inline
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [10]:
hddgd.get_dataset()

Data files already downloaded.

# Load data sets

## Cleveland data

In [11]:
cleveland_df = pd.read_csv(
    filepath_or_buffer=hdc.DATA_PATHS[hdc.CLEVELAND_STR],
)

In [12]:
print(cleveland_df.shape)
cleveland_df.head()

(302, 14)

,63.0,1.0,1.0.1,145.0,233.0,1.0.2,2.0,150.0,0.0,2.3,3.0,0.0.1,6.0,0
0,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,2
1,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1
2,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0
3,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0
4,56.0,1.0,2.0,120.0,236.0,0.0,0.0,178.0,0.0,0.8,1.0,0.0,3.0,0

## Hungarian data

In [13]:
hungarian_df = pd.read_csv(
    filepath_or_buffer=hdc.DATA_PATHS[hdc.HUNGARIAN_STR],
)

In [14]:
print(hungarian_df.shape)
hungarian_df.head()

(293, 1)

    40 1 2 140 289 0 0 172 0 0 -9 -9 -9 0
0    49 0 3 160 180 0 0 156 0 1 2 -9 -9 1
1    37 1 2 130 283 0 1 98 0 0 -9 -9 -9 0
2  48 0 4 138 214 0 0 108 1 1.5 2 -9 -9 3
3    54 1 3 150 -9 0 0 122 0 0 -9 -9 -9 0
4   39 1 3 120 339 0 0 170 0 0 -9 -9 -9 0

## Switzerland data

In [15]:
switzerland_df = pd.read_csv(
    filepath_or_buffer=hdc.DATA_PATHS[hdc.SWITZERLAND_STR],
)

In [16]:
print(switzerland_df.shape)
switzerland_df.head()

(122, 14)

   32  1  1.1   95  0  ? 0.1  127 0.2   .7 1.2 ?.1 ?.2  1.3
0  34  1    4  115  0  ?   ?  154   0   .2   1   ?   ?    1
1  35  1    4    ?  0  ?   0  130   1    ?   ?   ?   7    3
2  36  1    4  110  0  ?   0  125   1    1   2   ?   6    1
3  38  0    4  105  0  ?   0  166   0  2.8   1   ?   ?    2
4  38  0    4  110  0  0   0  156   0    0   2   ?   3    1

## VA data

In [17]:
va_df = pd.read_csv(
    filepath_or_buffer=hdc.DATA_PATHS[hdc.VA_STR],
)

In [18]:
print(va_df.shape)
va_df.head()

(199, 14)

   63  1  4  140  260  0  1.1  112 1.2     3  2  ? ?.1  2.1
0  44  1  4  130  209  0    1  127   0     0  ?  ?   ?    0
1  60  1  4  132  218  0    1  140   1   1.5  3  ?   ?    2
2  55  1  4  142  228  0    1  149   1   2.5  1  ?   ?    1
3  66  1  3  110  213  1    2   99   1   1.3  2  ?   ?    0
4  66  1  3  120    0  0    1  120   0  -0.5  1  ?   ?    0